/*
	AWESOME SEATTLE main site
	all content, minus that attributed below, and code belongs to Awesome Seattle

	background images:
	Onn/Of photograph CC-BY Andy Pixel (http://www.flickr.com/photos/smull/)
	Capitol Club mural photograph CC-BY Nikki Lee (http://nicoleblee.com)

	icons:
	email CC Douglas Nash (http://thenounproject.com/dougthenash)
	Twitter and Facebook icons courtesy of their respective companies
*/


@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic);

/* CSS RESET AND BASE STYLE */
* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	line-height: 120%;
}

p {
	margin: 1em auto 0 auto;
	max-width: 50em;
	font-size: 14pt;
}

h2+p, h3+p {
	margin-top: 0;
}

em {
	font-style: italic;
}

strong {
	font-style: bold;
}

/* base link styling */
a {
	color: rgb(0, 200, 0);
	text-decoration: none;
}

a:hover, a:active {
	color: rgb(0, 170, 0);
	text-decoration: underline;
}

#projects a {
	color: rgb(0, 170, 0);
}

#projects a:hover, #projects a:active {
	color: rgb(0, 190, 0);
}

a.button {
	display: inline-block;
	text-align: center;
	margin: 1em auto auto auto;
	padding: .75em 1.25em;
	font-size: 150%;

	color: white;
	background-color: rgb(0, 180, 0);
}

a:hover.button, a:active.button {
	background-color: rgb(0, 200, 0);
	text-decoration: none;
}

#connect a {
	display: inline-block;
	padding-left: 35px;
	padding-top: 2px;
	height: 23px;
	margin: 5px auto;
	background-image: url("img/social_sprite.png");
	background-repeat: no-repeat;
}

a.twitter {
	background-position: 2px center;
}

a.facebook {
	background-position: 2px bottom;
}

a.email {
	background-position: 2px top;
}

/* base div styling */
div {
	padding: 2em;
}

#header {
	background-image: url("img/asfalt_green.png");
	color: white;
}

#header p {
	font-size: 2em;
	margin: 0;
}

#description {
	text-align: center;
}

#description h2, #description p {
	text-align: left;
}

#projects {
	background-color: rgb(250,250,250);
}

#projects .inset {
	margin: -2em 2em -1em 2em;
}

#projects h3 {
	margin-top: 1em;
}

#connect {
	text-align: center;
	background-image: url("img/asfalt.png");
	color: white;
}

#connect * {
	text-align: left;
}

#connect ul {
	margin-top: 1em;
	display: inline-block;
	list-style-type: none;
}

/* MAILCHIMP SIGNUP FORM */
#mc_embed_signup {
	display: inline-block;
	margin: auto;
	padding: 0;
}

#mc_embed_signup_scroll {
	margin: 0;
	display: inline-block;
}

.indicates-required {
	margin: 0;
	padding: 0;
}

.asterisk {
	color: rgb(0,200,0);
	font-weight: bold;
}

.mc-field-group {
	margin: .5em auto;
	padding: 0;
}

.mc-field-group label {
	color: rgb(200,200,200);
}

.mc-field-group input {
	width: 30em;
	max-width: 100%;
	font-size: 12pt;
	padding: .5em;
	border: none;
	border-radius: .25em;
}

.clear {
	margin: 0;
	padding: 0;
}

.clear input {
	background-color: rgb(0,180,0);
	border: none;
	outline: none;
	margin: .5em auto;
	padding: .5em 1.5em;
	font-size: 16pt;
	color: white;
}

.clear input:hover {
	cursor: pointer;
	background-color: rgb(0,200,0);
}

/* MOBILE VERSION */
@media (max-width: 767px) {
	#header {}

	#description {		
		background-image: url("img/onnof_small.jpg");
		background-position: center;
		color: white;
	}

	#projects {
	}

	#projects .inset {
		padding: 0;
		margin: 0 1.5em 1em 1.5em;
	}

	#trustees {
		background-image: url("img/mural_small.jpg");
		background-position: center;
		color: white;
	}

	#connect {}

	.mc-field-group input {
		width: 20em;
	}
}

/* TABLET VERSION */
@media (min-width: 768px) {
	#header {}

	#description {
		background-image: url("img/onnof_medium.jpg");
		background-position: center;
		background-repeat: no-repeat;
		color: white;
	}

	#projects {}

	#trustees {
		background-image: url("img/mural_medium.jpg");
		background-position: center;
		background-repeat: no-repeat;
		color: white;
	}

	#connect {}
}

/* DESKTOP */
@media (min-width: 980px) {
	html {
		background-color: rgb(50, 50, 50)
	}

	body {
		max-width: 980px;
		margin: auto;
		box-shadow: 0 0 10px rgb(40,40,40);
	}

	#header {}

	#header p {
		font-size: 40pt;
		background-image: url("img/aflogo.png");
		background-repeat: no-repeat;
		background-position: center;
	}

	#description {
		background-image: url("img/onnof_large.jpg");
	}

	#projects {}

	#trustees {
		background-image: url("img/mural_large.jpg");
	}

	#connect {}
}

/* LARGE SCREEN */
@media (min-width: 1200px) {
	#header {}

	#description {}

	#projects {}

	#trustees {}

	#connect {}
}